{% extends 'account/base.html' %}
{% block content %}
<div class="container">
    <div class="row">

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12 col-xl-12">
            <div class="card mt-5">
                <div class="text-center">
                    <h3>Registration page</h3>
                    <hr>
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row container">


                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">

                            <label for="">User Name:</label>
                            <input type="text" class="form-control" name="username" id="username" required>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                            <label for="">email:</label>
                            <input type="text" class="form-control" name="email" id="email" required>
                        </div>

                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                            <label for="">Password:</label>
                            <input type="password" class="form-control" name="password" id="password">
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">

                            <label for="">Confirm Password:</label>
                            <input type="password" class="form-control" name="cpassword" id="cpassword">
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-4 mb-2 text-center ">
                            <input type="submit" value="Register" class="btn btn-secondary">
                            <p><a href="">Login Here</a></p>
                        </div>
                    </div>
                </form>








                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}